[submodule "themes/hugo-theme-luna"]
	path = themes/hugo-theme-luna
	url = https://github.com/Ice-Hazymoon/hugo-theme-luna
	branch = master
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad.git
[submodule "themes/hugo-theme-next"]
	path = themes/hugo-theme-next
	url = https://github.com/hugo-next/hugo-theme-next.git
